*{
    margin: 0;
    padding: 0;
}

/*    bootstrap Override*/

.form-control{
	border-radius: 0 !important;
}
.btn{
	border-radius: 0 !important;
}


html{
    position: relative;
    height: 100%;
}

a{
    text-decoration: none !important;
}

footer {
    height: 100px;
    background: #F4D03F;
}

.top-nav{
    background-color: #2C3E50;
    height: 50px;
    width: 100%;
}

.top-logo{
    padding: 15px 0 0 200px;
    color: white !important;
}

.top-login{
    padding-right: 200px;
    color: white;
    font-size: 11px;
}

a:-webkit-any-link {
    color: #fff;
    cursor: auto;
    text-decoration: none;
}

.container{
    background-color: #F2F1EF;
    width: 100% !important;
}

.login-form-panel{
    margin: 80px;
    height: 300px;
    background-color: #fcfcfc;
}

.head-panel{
    background-color: #00B16A;
    height: 40px;
    padding-top: 15px;
    padding-left: 20px;
    color: #fcfcfc;
    font-size: 11px;
}

#v-number{
	color: #fcfcfc;
	font-size:11px;
}

#login-panel{
    margin-top: 40px;
}

.form-siz{
    width: 180px;
}

.bottom-class{
	padding-left:200px;
	padding-right:200px;
	padding-top:50px;
}